In [ ]:
#sprint 3
# Added more rows of products, brands and prices

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="*******",
  database="final_sprint"
)

mycursor = mydb.cursor()

sql = "INSERT INTO products (id, product_id, product_name, category, price) VALUES (%s ,%s, %s, %s, %s)"
val = (14,"A014", "Hugo Boss", "Perfume", '800.00')
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Adam78696!",
  database="final_sprint"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM products")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'A001', 'Simba', 'Chips', '17.99')
(2, 'A002', 'Lays', 'Chips', '15.99')
(3, 'A003', 'Cadbury', 'Chocolate', '29.99')
(4, 'A004', 'Tex', 'Chocolate', '7.99')
(5, 'A005', 'Pepper Steak', 'Pies', '79.99')
(6, 'A006', 'Chicken', 'Pies', '49.99')
(7, 'A007', 'Pear', 'Fruits', '24.99')
(8, 'A008', 'Apple', 'Fruits', '29.99')
(9, 'A009', 'Orange', 'Fruits', '34.99')
(10, 'A010', 'Vanilla', 'Cupcakes', '29.99')
(11, 'A011', 'Chocolate', 'Cupcakes', '39.99')
(12, 'A012', 'Spinach', 'Veggies', '12.99')
(13, 'A013', 'Cabbage', 'Veggies', '16.00')
(14, 'A014', 'Hugo Boss', 'Perfume', '800.00')
(15, 'A015', 'D&G', 'Perfume', '1000.00')