In [2]:
#import numpy & pandas module 
import numpy as np
import pandas as pd

# a dictionary to create a series
data = {'Chips':pd.Series(['Simba', 'Lays'], index =[1,2]),
        'Cooldrink':pd.Series(['Coke', 'Fanta'], index = [1,2]), 
        'Chocolate':pd.Series(['Cadbury','Tex'], index = [1,2]), 
        'Pies':pd.Series(['Pepper Steak', 'Chicken'], index = [1,2]), 
        'Fruit':pd.Series(['Pear','Apple', 'Orange'], index = [1,2,3]), 
        'Cupcakes': pd.Series(['Vanilla', 'Chocolate'], index = [1,2]), 
        'Veggies': pd.Series(['Spinach','Cabbage'], index = [1,2])} 
#create a dataframe from the data
df = pd.DataFrame(data)

df_style = df.head(3).style.set_table_styles(
[{'selector': 'th',
  'props': [('background', 'green'), 
            ('color', 'white'),
            ('font-family', 'verdana')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', '#DCDCDC')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
  
 {'selector': 'tr:hover',
  'props': [('background-color', '#78FF33')]}
])

print("DataFrame without Style")
print(df)

print('\nData frame with Style')
df_style.hide_index()

DataFrame without Style
   Chips Cooldrink Chocolate          Pies   Fruit   Cupcakes  Veggies
1  Simba      Coke   Cadbury  Pepper Steak    Pear    Vanilla  Spinach
2   Lays     Fanta       Tex       Chicken   Apple  Chocolate  Cabbage
3    NaN       NaN       NaN           NaN  Orange        NaN      NaN

Data frame with Style

In [3]:
df.describe()

        Chips Cooldrink Chocolate          Pies   Fruit   Cupcakes  Veggies
count       2         2         2             2       3          2        2
unique      2         2         2             2       3          2        2
top     Simba     Fanta   Cadbury  Pepper Steak  Orange  Chocolate  Cabbage
freq        1         1         1             1       1          1        1

In [4]:
df.fillna('')

   Chips Cooldrink Chocolate          Pies   Fruit   Cupcakes  Veggies
1  Simba      Coke   Cadbury  Pepper Steak    Pear    Vanilla  Spinach
2   Lays     Fanta       Tex       Chicken   Apple  Chocolate  Cabbage
3                                           Orange

In [1]:
#In my sprint, I used pandas dataframe as a data source 
# i first created the dataframe from a pandas series that consisted of a dictionary
# I then decided to create a graphical user interface to implement in my project
# Researched different ways and found the best solution to my understanding and that would be to import the pyqt module.
# intergrated the code of data to the skeleton code that was shared from the internet.
# Pandas is a Python library commonly used for data manipulation and analysis. 
# It provides a nice API for loading 2D tabular data from various data sources and performing data analysis on it.


import sys # allows you access functions and anything else defined in the module
from PyQt5 import QtCore, QtGui, QtWidgets #mport the pyQt library that allows me to use the QT frames to buld different type of interactive GUI 
from PyQt5.QtCore import Qt #from pyqt5 lib that imports the class Qt
import pandas as pd #imports the pandas module


class TableModel(QtCore.QAbstractTableModel): # a class is created using the keyword class and is pass a model in the parameter of the class

    def __init__(self, data): #most important method in the class and is passed with 2 attributes 
        super(TableModel, self).__init__()
        self._data = data

    def data(self, index, role):
        if role == Qt.DisplayRole:
            value = self._data.iloc[index.row(), index.column()] # iloc Purely integer-location based indexing for selection by position.
            return str(value)

    def rowCount(self, index): # Returns the number of rows under the given parent. 
        #When the parent is valid it means that rowCount is returning the number of children of parent.
        return self._data.shape[0] # Returns the data to be displayed starting from number 0 index



    def columnCount(self, index): # Returns the number of columns for the children of the given parent.
        return self._data.shape[1] # returns data to be displaced from the number 1 index
    
    def headerData(self, section, orientation, role): #Returns the data for the given role and section in the header with the specified orientation.

        # section is the index of the column/row.
        #For horizontal headers, the section number corresponds to the column number. 
        # Similarly, for vertical headers, the section number corresponds to the row number.
        if role == Qt.DisplayRole:
            if orientation == Qt.Horizontal:
                return str(self._data.columns[section])

            if orientation == Qt.Vertical:
                return str(self._data.index[section])


class MainWindow(QtWidgets.QMainWindow):

    def __init__(self):
        super().__init__()

        self.table = QtWidgets.QTableView()
        
    
        # a dictionary to create a series
        df = pd.DataFrame(columns=["Day-Part", "Start Time", "End Time"])
        parts = int(input("Enter the number of day parts:"))

        for _ in range(parts):
            dp = input("Enter Part of the Day ")
            st = input("Enter start time for {}".format(dp))
            et = input("Enter end time for {}".format(dp))
            df1 = pd.DataFrame(data=[[dp,st,et]],columns=["Day-Part", "Start Time", "End Time"])
            df = pd.concat([df,df1], axis=0)

        df.index = range(len(df.index))
        
        
        self.model = TableModel(df)

        self.table.setModel(self.model)

        self.setCentralWidget(self.table)
        
        title = "Adam Banderker's Dataframe"
  
        # set the title 
        self.setWindowTitle(title) 
        
        self.setGeometry(300, 200 ,1000, 200) 
        self.show()
        
  
app=QtWidgets.QApplication(sys.argv)
window=MainWindow()
window.show()
app.exec_()

Enter the number of day parts:3
Enter Part of the Day Adam
Enter start time for Adam2
Enter end time for Adam1
Enter Part of the Day Basg
Enter start time for Basgasa
Enter end time for Basgsaa
Enter Part of the Day as
Enter start time for asad
Enter end time for asdaa

0

In [ ]:
# car management systems uses list to represent spaces in car park
# occupied and not occupied
# emptyspace = 0 and fullspace = 1
# calculate what perccentage of the spaces are currently occupied
# rounded to the nearest percent

def car_management(list):
    lst = [] 
  
    # number of elemetns as input 
    n = int(input("Enter number of elements : ")) 
  
    # iterating till the range 
    for i in range(0, n): 
        ele = int(input()) 
  
        lst.append(ele) # adding the element 
    print(lst)
    
    percentage = lst.count(1) / len(lst) * 100
    print(round(percentage), '% of spaces are occupied')

car_management(list)

In [22]:
list = [1, 2, 3, 4, 1, 4, 1]
#print(len(list))
print(round(list.count(1) / len(list) * 100))

43

In [6]:
import pandas as pd

df = pd.DataFrame(columns=["Products", "Start Time", "End Time"])
parts = int(input("Enter the number of day parts:"))

for _ in range(parts):
    dp = input("Enter Part of the Day ")
    st = input("Enter start time for {}".format(dp))
    et = input("Enter end time for {}".format(dp))
    df1 = pd.DataFrame(data=[[dp,st,et]],columns=["Day-Part", "Start Time", "End Time"])
    df = pd.concat([df,df1], axis=0)

df.index = range(len(df.index))
print(df)

Enter the number of day parts:2
Enter Part of the Day fr
Enter start time for fr22
Enter end time for fr333
Enter Part of the Day tu
Enter start time for tu5
Enter end time for tukk
  Day-Part Start Time End Time
0       fr         22      333
1       tu          5       kk